
  .footer-container {
color: white;
    padding: 10px;
    bottom: 0;
    width: 100%;
  }
  .icon{
    font-size: 30px;
  }
  .icon :hover{
    color: orange;
  }

  @media only screen and (max-width:320px) {
    

}

@media only screen and (min-width: 320px) and (max-width: 400px) {
	.footer-container{
      margin-top: 150px;
    }
}