
.custom-cart img{
           max-height: 200px;
         }
.carousel-indicators button {
           display: none !important;
         }
          .hover:hover {
           border-radius: 2%;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
         }


.pagination .selected {
  background: red;
}
