@media
	  only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {

		/* Force table to not be like tables anymore */
		.all-order-container table, thead, tbody, th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		.all-order-container	thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		.all-order-container tr {
      margin: 0 0 1rem 0;
    }
      
	.all-order-container tr:nth-child(odd) {
      background: #ccc;
    }
    
	.all-order-container td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
		}

		.all-order-container	td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

		.all-order-container td:nth-of-type(1):before { content: "Number"; }
		.all-order-container td:nth-of-type(2):before { content: "Place"; }
		.all-order-container td:nth-of-type(3):before { content: "Location"; }
		.all-order-container td:nth-of-type(4):before { content: "Image"; }
		.all-order-container td:nth-of-type(5):before { content: "User Price"; }
		.all-order-container td:nth-of-type(6):before { content: "User Transportation"; }
		.all-order-container td:nth-of-type(7):before { content: "Status"; }
		.all-order-container td:nth-of-type(8):before { content: "Update"; }

    }